body { 
    background-color:  rgb(7, 21, 85);
    margin: 0;  
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(156, 143, 194)), to(#66F6F2));
    /* background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#66F6F5), to(#66F6F2)); */
    background-color: white;
}

header { 
    padding: 20px;
    font-family: 'arial'; 
    background-color: ; 
    color: rgb(19, 20, 104);
    /* background-color: #7c2a2a; */
    color: #817575;
    text-align: center;
    margin: 0; 
    padding: 0; 
}

button { 
    display: block; 
    width: 50%;
    border: none;
    /* background-color: #4CAF50; */
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin: auto;
}

h1 {
	display: inline;
	position: relative;
	font: 200px Helvetica, Sans-Serif;
	letter-spacing: -5px;
    color: rgb(245, 233, 227); 
    font-family: 'Bangers', cursive;
    text-shadow:
    -4px -4px 0 #000,
     0   -4px 0 #000,
     4px -4px 0 #000,
     4px  0   0 #000,
     4px  4px 0 #000,
     0    4px 0 #000,
    -4px  4px 0 #000,
    -4px  0   0 #000;
}



main { 
    font-size: 30px; 
    text-align: center; 
    font-family: 'Bangers', cursive;
    color: rgb(245, 233, 227); 
    text-shadow:
    -3px -3px 0 #000,
     0   -3px 0 #000,
     3px -3px 0 #000,
     3px  0   0 #000,
     3px  3px 0 #000,
     0    3px 0 #000,
    -3px  3px 0 #000,
    -3px  0   0 #000;
}

    