<div>
    {{!-- Displays color results
    Options for how to view results --}}









    <script>

//will work on this later once we get the averages working
function averageBackground(){

    const fr = Math.floor(favred);
    const fg = Math.floor(favgreen);
    const fb = Math.floor(favblue);
    const favbgColor = "rgb(" + fr + "," + fg + "," + fb + ")";
 console.log(favbgColor);
    const lfr = Math.floor(leastfavred);
    const lfg = Math.floor(leastfavgreen);
    const lfb = Math.floor(leastfavblue);
    const leastFavbgColor = "rgb(" + lfr + "," + lfg + "," + lfb + ")";
 console.log(leastFavbgColor);

       document.body.style.background =`linear-gradient(${favbgColor}, ${leastFavbgColor})`;
    }
    averageBackground();
    

</script>
</div>